/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li{
  list-style-type: none;
}


nav{
  height: 50px;
}

div.devise-form{
  padding: 20px;
  width: 30%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}

.sidebar{
  height: 1200px;
  float: left;
  width: 19.6%;  
  background-color: red;
  padding: 0;
}

.sidebar-profile{
  padding: 0;
  margin: 5px 10px;
}
/*----------------------------------------------------------------------start*/
/* --- ナビゲーションバー --- */
div.sidebar-menu {
 /* ナビゲーションの幅 */
font-size: 80%;
margin: 0px 10px;
}

/* --- メニューエリア --- */
div.sidebar-menu ul.nl {
margin: 0;
padding: 0;
border-top: 1px #c0c0c0 dotted; /* 最上部の境界線 */
list-style-type: none;
text-align: left;
}

/* --- メニュー項目 --- */
div.sidebar-menu ul.nl li {
padding: 3px 1px; /* 項目のパディング（上下、左右） */
background-color: #f9f9f9; /* 項目の背景色 */
border-bottom: 1px #c0c0c0 dotted; /* 項目の下境界線 */
}

/* --- リンク --- */
div.sidebar-menu ul.nl li a {
display: block;
position: relative; /* IE6用 */
padding: 8px 10px; /* リンクエリアのパディング（上下、左右） */
border-left: 4px #c0c0c0 solid; /* リンクエリアの左境界線 */
text-decoration: none; /* テキストの下線（なし） */
}
/* --- ポイント時の設定 --- */
div.sidebar-menu ul.nl li a:hover {
border-left-color: #e0e0e0; /* ポイント時の左境界線色 */
}
/*----------------------------------------------------------------------end*/
/*----------------------------------------------------------------------start*/
/* --- 見出しエリア --- */
div.heading {
width: 600px; /* 見出しエリアの幅 */
margin-bottom: 1em;
padding: 4px 0; /* 見出しエリアのパディング（上下、左右） */
border-bottom: 1px #c0c0c0 solid; /* 見出しエリアの下境界線 */
}

/* --- 見出し --- */
div.heading h3 {
margin: 0;
padding: 3px 3px 0 5px; /* 見出しのパディング（上右下左） */
border-left: 5px #ff8000 solid; /* 見出しの左境界線 */
font-size: 100%; /* 見出しの文字サイズ */
line-height: 100%;
}
/*----------------------------------------------------------------------end*/
.home-panel{
  margin: 15px;
  
  background: -webkit-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ffb347 10%, #ffcc33 90%); /* W3C */
  border-color: black;
  border: solid;
  height: 200px;
  padding: 15px;
  opacity: 0.8;
  position: relative;
}

.home-header{
  border-color: black;
  border: solid;
  margin: 15px;
}

.home-panel a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-panel:hover{
  opacity: 1.0;
}

.contents{
  height: 1200px;
  float: right;
  width: 80.4%;
  padding: 0;
  margin: 0;
  background-color: yellow;
}

.content-left{
  height: 80%;
  margin: 60px 25px;
  padding: 0px;
  width: 40%;
  float: left;
  background-color: green;
}

.content-right{
  height: 80%;
  margin: 60px 25px;
  padding: 0px;
  width: 40%;
  float: right;
  background-color: green;
}

.main{
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
/*----------------------------------------------------------------------start*/
/* --- リストエリア --- */
ul.thumbnail {
width: 400px; /* リストエリアの幅 */
margin: 0;
padding: 0;
border-top: 1px #808080 dotted; /* リストエリアの上境界線 */
list-style-type: none;
}

/* --- リスト項目 --- */
ul.thumbnail li {
padding: 20px 15px; /* リスト項目のパディング（上下、左右） */
border-bottom: 1px #808080 dotted; /* リスト項目の下境界線 */
}

/* --- 項目内容 --- */
ul.thumbnail dl {
width: 100%;
margin: 0;
font-size: 80%;
}

/* --- 写真エリア --- */
ul.thumbnail dt.photo {
width: 160px; /* 写真エリアの幅 */
float: left;
}
ul.thumbnail dt.photo img {
border: 1px #808080 solid; /* 写真の境界線 */
}

/* --- キャプションエリア --- */
ul.thumbnail dt.title,
ul.thumbnail dd {
margin: 0 0 0 160px; /* キャプションエリアのマージン（上右下左） */
}

/* --- タイトルエリア --- */
ul.thumbnail dt.title {
margin-bottom: 5px; /* タイトルエリアの下マージン */
line-height: 120%;
}

/* --- コメントエリア --- */
ul.thumbnail dd {
line-height: 150%;
}

/* --- clearfix --- */
.clearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearFix {
min-height: 1px;
}
/*----------------------------------------------------------------------end*/

.firmlist{
  background-color: white;
  margin: 0;
  padding: 30px;
}

footer {
  background-color:#2b2b2b;
  color:#ddd;
  min-height:100px;
  padding-top:20px;
  padding-bottom:40px;
  margin-bottom: 0px;
}

/*----------------------------------------------------------------------begin*/
/* --- 表全体 --- */
table.table {
margin-left: 10px; 
width: 95%;/* 表の幅 */
margin-bottom: 30px; /* 表の下マージン */
border: 1px #c0c0c0 solid; /* 大枠の境界線 */
border-collapse: collapse;
font-size: 80%;
}

/* --- 表タイトル --- */
table.table caption {
padding-bottom: 5px; /* 表タイトルの下パディング */
}

/* --- セル --- */
table.table th,
table.table td {
/* width: 20%; */ /* セルの幅（セルの幅を均等にする場合） */
padding: 6px 8px; /* セルのパディング（上下、左右） */
border: 1px #c0c0c0 solid; /* セルの境界線 */
}

/* --- 見出しセル --- */
table.table thead th {
background-color: #deefff; /* 見出しセルの背景色 */
text-align: center;
}

/* --- フッタセル --- */
table.table tfoot td {
background-color: #f5f5f5; /* フッタセルの背景色 */
}

/* --- データセル --- */
table.table tbody td {
background-color: #ffffff; /* データセルの背景色 */
}
/*----------------------------------------------------------------------end*/

.message-table{
  margin-top: 80px;
  margin-left: 20px;
}

#message-list{
  overflow: scroll;
  height: 600px;
  margin-left: 15px;
  margin-right: 300px;
}

#message-panel{
  background-color: rgb(248, 248, 248);

}

#message-box{
  margin-left: 15px;
  margin-right: 15px;
}

.message-input{
  height: 200px !important;
}

.message-right{
  width: 70%;
  float: right;
}

.message-left{
  width: 70%;
  float: left;
  background-color: purple;
}

